[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-theme-basic"]
	path = themes/hugo-theme-basic
	url = https://github.com/siegerts/hugo-theme-basic.git
[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/hugo-cactus-theme"]
	path = themes/hugo-cactus-theme
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
